body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(45deg);
    animation: heart 1.5s infinite;
}

.heart::before, .heart::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    left: -50%;
}

.heart::after {
    top:-50%;
}

@keyframes heart {
    0% {
        transform:rotate(45deg) scale(0.8);
    }
    5% {
        transform:rotate(45deg) scale(0.9);
    }
    10% {
        transform: rotate(45deg) scale(0.8);
    }
    15% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(0.8);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}

