body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #0a192f;
    font-family: 'Roboto', sans-serif;
    color: #ccd6f6;
}

.text {
    border: 5px solid #8892b0;
    padding: 20px;
    border-radius: 5px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.morph {
    width: 200px;
    height: 200px;
    border: 2px solid #61f9d5;
    animation: morph 2s infinite;
}

@keyframes morph {
    0% {
        border-radius: 0%;
        transform: rotate(0deg);
    }

    50% {
        border-radius: 50%;
        transform: rotate(180deg);
    }

    100% {
        border-radius: 0%;
        transform: rotate(360deg);
    }
    
}